* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffdf40;
}

.container {
  height: 31.25em;
  width: 31.25em;
  background-color: #ffffff;
  border-radius: 0.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/* 円 */
.emoji {
  height: 18.75em;
  width: 18.75em;
  background-color: #ffbe40;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 50%;
}

/* 両目の基本設定 */
.emoji:before,
.emoji:after {
  position: absolute;
  content: "";
  height: 1.87em;
  width: 3.12em;
  border: 1.12em solid #663733;
  border-radius: 5em 5em 0 0;
  border-bottom: none;
  top: 5em;
}

/* 右目の再配置 */
.emoji:before {
  left: 3.12em;
}

/* 左目の再配置 */
.emoji:after {
  right: 3.12em;
}

/* 口 */
.mouth {
  position: absolute;
  background-color: #663733;
  height: 6.25em;
  width: 12.5em;
  border-radius: 0 0 6.25em 6.25em;
  margin: auto;
  left: 0;
  right: 0;
  top: 10.62em;
  overflow: hidden;
}

/* 歯 */
.mouth:before {
  position: absolute;
  content: "";
  height: 1.87em;
  width: 100%;
  background-color: #ffedb3;
}

/* 舌 */
.mouth:after {
  position: absolute;
  content: "";
  height: 3.75em;
  width: 100%;
  background-color: #e63a17;
  top: 3.12em;
  border-radius: 50% 50% 0 0;
}

/* 左半分を薄くする */
.container:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: rgb(255 255 255 / 0.25);
}
